/* *** classes *** */
.ikonform{width:22px;}
.ratakanan{text-align:right; padding-right: 20px;}
.tombol{ padding: 5px; margin:2px;	box-shadow: 0px 0px 2px #428BCA; 
	border-radius: 4px;}
.modal-header,.modal-footer{background: #0000FF; color: #FFFFFF; 
	text-shadow: 0px 0px 1px #000000;}

/* *** ids *** */
#menu-grp{display:none;}

/* *** composites *** */
td.piljaw img{max-width: 200px; }
td.ilustr img{max-height: 130px; }
